<!DOCTYPE html>
<html>
  <head>
    <title>LongestWord</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .letters {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
      }

      .letter {
        padding: 5px;
        background: blue;
        color: white;
        border: 1px solid darkblue;
        margin-right: 5px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
